/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Night mode background */
    color: #e0e0e0; /* Night mode text */
    overflow:hidden;
}

html {
    scroll-behavior: smooth; /* Enable smooth scrolling for the entire page */
}

/* Responsive layout */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cover-page {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x:hidden;
    overflow-y:hidden;
}

.cover-content{
    padding: 0px;
    margin: 0px;
    width: 600px;
}
.cover-content ul{
    display: flex; /* Arrange items in a row */
    justify-content: flex-end;
    flex-direction: row; /* Ensure items are in a horizontal line */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Add spacing between items */
    padding-left: 10px; /* Add padding to the left of the separator */
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    font-size: small;
    margin: 0px;
    text-align: right;

}

.cover-image{
    text-align: center;
    background-color: #000000;
    width: 600px;
    writing-mode: vertical-lr;

}


.cover-image h1 {
    writing-mode: vertical-lr;
    font-size: 2em;
    position: relative;
    top: 10px; /* Adjust to position the title */
    left: 0px;
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    font-family: "Cactus Classical Serif", serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1000; /* Ensure title is above other elements */
    height: 400px;

}

.cover-image h2 {
    writing-mode: vertical-lr;
    font-size: 1.2em;
    position: relative;
    bottom: -80px; /* Adjust to position the title */
    left: -20px;
    text-align: right;
    font-family: "Klee One", cursive;
    font-weight: 200;
    margin: 5px;
    color: #a9a9a9; /* Change text color to slightly darker gray */
    z-index: 1000; /* Ensure title is above other elements */
    height: 400px;
}

.cover-image h3 {
    font-size: 0.5em;
    position: relative;
    top: 210px; /* Adjust to position the title */
    left: -50px;
    text-align: left;
    font-weight: 200;
    margin: 5px;
    z-index: 1000; /* Ensure title is above other elements */
    height: 300px;
}

.additional-info{
    width: 100%;
    font-size: small;
    visibility: hidden; /* Initially hidden */
    height: 50px;
    margin-top: 10px;
    
}

.cover-image-owl{
    position: relative;
    left: -50px;
}
.reader {
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
    
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 60px; /* Increase padding to add a small margin between page content and navigation bar */
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    overflow-y: auto;
    backface-visibility: hidden; /* Ensure only the front face is visible */
    transform-origin: left center; /* Set the origin for the flipping effect */
    transition: transform 0.6s ease-in-out; /* Smooth flipping transition */
    display: flex; 
    justify-content: center;
    flex: 1;
}

.page.hidden {
    transform: rotateY(-180deg);
}

.page.visible {
    transform: rotateY(0deg);
}

.page article {
    width: 600px;
    line-height: 1.6; /* Improved readability */
    text-align: justify; /* Justify text for better alignment */
    overflow-y: auto;
    background-color: #1e1e1e;
    padding: 10px;


}


.page a {
    text-decoration: none; /* Remove underline from links */
    color: #e0e0e0; /* Ensure links are visible in dark theme */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.sidebar {
    position: absolute;
    top: 50px; /* Adjust top position to avoid overlapping with navigation bar */
    left: 0;
    width: 250px;
    height: calc(100% - 50px); /* Adjust height to account for navigation bar */
    background-color: #1e1e1e; /* Dark theme background */
    color: #e0e0e0; /* Light text for dark theme */
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999; /* Ensure sidebar is above page content */
    overflow-y: auto; /* Allow scrolling if content overflows */
    scrollbar-width: none;
    
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-toggle {
    position: absolute;
    top: 5px;
    left: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: medium;
    z-index: 1000; /* Ensure toggle button is above other elements */
}

.close-sidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #1e1e1e; /* Dark theme background */
    color: #e0e0e0; /* Light text for dark theme */
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: medium;
    z-index: 1000; /* Ensure toggle button is above other elements */
    display:none;
}

.sidebar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

.sidebar li {
    margin: 10px 0; /* Add spacing between items */
}

.sidebar a {
    text-decoration: none; /* Remove underline from links */
    color: #e0e0e0; /* Ensure links are visible in dark theme */
    font-weight: bold; /* Make links stand out */
    display: block; /* Ensure links take up full width */
    padding: 5px 10px; /* Add padding for better click area */
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.sidebar a:hover {
    background-color: #333; /* Highlight links on hover */
    color: #ffffff; /* Change text color on hover */
}

/* Navigation buttons */
.nav-button {
    position: absolute;
    top: calc(50% + 25px);
    transform: translateY(-50%);
    background-color: rgba(51, 51, 51, 0.5); /* 50% transparent */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000; /* Ensure navigation buttons are above the sidebar */
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make it circular */
    text-align: center;
}



.nav-button.left {
    left: 10px;
    z-index: 998;
    display: none;
}

.nav-button.right {
    right: 10px;
    z-index: 998;
    display: block;
}

/* Navigation bar styles */
.navi-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    /*display: flex;*/
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.navi-bar .title {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-left: 40px;
}

.navi-bar .sidebar-toggle {
    flex-shrink: 0; /* Prevent the sidebar button from shrinking */
}

.hover-popup {
    position: absolute;
    background-color : #333;
    color: #fff;
    padding: 5px;
    border-radius:5px;
    z-index: 1000;
    max-width: 400px;
    display: none; /* Initially hidden */
    top: 0;
    left: 0;

}

.down-button {
    position: absolute;
    bottom: 10px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    background-color: rgba(51, 51, 51, 0.5); /* 50% transparent */
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make it circular */
    cursor: pointer;
    z-index: 1000; /* Ensure button is above other elements */
    display: none; /* Initially hidden */
    text-align: center;
    line-height: 50px; /* Center the text vertically */
}

.down-button.sidebar-button {
    position: absolute;
    bottom: 10px;
    left: 125px; /* Center horizontally */
    transform: translateX(-50%);
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .cover-page {
        font-size: 1.5em;
    }
.page article {
    min-width: 250px; /* Minimum width for the article */
    padding-left: 20px;
    padding-right: 20px;
    }

.sidebar {
    width: 100%; /* Full width for mobile */
    scrollbar-width: auto; /* Use thin scrollbar for mobile */
}

.page{
    padding-bottom: 70px; /* Reduce padding for smaller screens */
    padding-left: 0px;
    padding-right: 0px;
    }

.nav-button {
    position: absolute;
    top: unset; /* Position at the bottom */
    bottom: 0px; /* Position at the bottom */
    border-radius: 5%;
    width: 35px;
    height: 35px;
   
}

.close-sidebar{
    display: block;
}
}
